input/*

output/*

data-preprocess/annotated_data/*

data-preprocess/extraction_result/*

data-preprocess/SourceHanSansCN-Regular.otf

human-tracking/output/*

human-tracking/pretrained/*

localization/output_clips/*

